<template>
	<div id="page">
		<header>
			<div id="conteneur-header">
				<div class="conteneur">
					<a :href="definirRacine()">
						<span id="logo"></span>
						<span id="titre">Digiread by La Digitale</span>
					</a>
				</div>
				<div class="conteneur">
					<span id="partager" role="button" :tabindex="modale === '' && menu === '' && $parent.$parent.message === '' ? 0 : -1" title="Partager" @click="afficherMenuPartager" @keydown.enter="afficherMenuPartager"><i class="material-icons">share</i></span>
				</div>
			</div>
		</header>
		<div id="conteneur">
			<div id="article">
				<a id="lien" :href="lien" target="_blank">{{ domaine }}</a>
				<h1><span>{{ titre }}</span><span class="auteur" v-if="auteur !== '' && auteur !== null">{{ auteur }}</span></h1>
				<div id="contenu" v-html="html" />
			</div>
			<div id="credits">
				<p><a :href="lien" target="_blank" rel="noreferrer"><u>Cette page</u></a> a été consultée {{ vues }} fois et a été filtrée avec <a :href="definirRacine()" target="_blank" rel="noreferrer"><u>Digiread by La Digitale</u></a></p>
				<p>{{ new Date().getFullYear() }} - <a href="https://ladigitale.dev" target="_blank" rel="noreferrer">La Digitale</a></p>
			</div>
		</div>

		<div id="menu-partager" v-if="menu === 'partager'" :style="{'left': position + 'px'}">
			<div id="conteneur-partager">
				<label>Lien et code QR&nbsp;:</label>
				<div id="copier-lien" class="copier">
					<input type="text" disabled :value="definirRacine() + '#/a/' + id">
					<span class="icone lien" role="button" :tabindex="menu === '' ? -1 : 0" title="Copier le lien" @keydown.enter="copierLien"><i class="material-icons">content_copy</i></span>
					<span class="icone codeqr" role="button" :tabindex="menu === '' ? -1 : 0" title="Afficher le code QR" @click="afficherCodeQR" @keydown.enter="afficherCodeQR"><i class="material-icons">qr_code</i></span>
				</div>
				<label>Code d'intégration&nbsp;:</label>
				<div id="copier-iframe" class="copier">
					<input type="text" disabled :value="'<iframe src=&quot;' + definirRacine() + '#/a/' + id + '&quot; frameborder=&quot;0&quot; width=&quot;100%&quot; height=&quot;500&quot;></iframe>'">
					<span class="icone" role="button" :tabindex="menu === '' ? -1 : 0" title="Copier le code d'intégration" @keydown.enter="copierIframe"><i class="material-icons">content_copy</i></span>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-if="modale === 'code-qr'">
			<div id="codeqr" class="modale" role="dialog">
				<header>
					<span class="titre">Code QR</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<div id="qr" />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import ClipboardJS from 'clipboard'

export default {
	name: 'Lecteur',
	data () {
		return {
			modale: '',
			menu: '',
			id: '',
			domaine: '',
			titre: '',
			auteur: '',
			lien: '',
			html: '',
			vues: 0,
			elementPrecedent: null,
			codeqr: '',
			position: 0
		}
	},
	watch: {
		modale: function (valeur) {
			if (valeur !== '') {
				this.menu = ''
			}
		}
	},
	created () {
		this.id = this.$route.params.id
		const xhr = new XMLHttpRequest()
		xhr.onload = function () {
			if (xhr.readyState === xhr.DONE && xhr.status === 200) {
				if (xhr.responseText === 'contenu_inexistant' || xhr.responseText === '' || this.verifierJSON(xhr.responseText) === false) {
					this.$router.push('/')
					return false
				} else if (xhr.responseText === 'erreur') {
					this.$parent.$parent.chargement = false
					this.$parent.$parent.message = 'Erreur de communication avec le serveur.'
					return false
				}
				const donnees = JSON.parse(xhr.responseText)
				const document = new DOMParser().parseFromString(donnees.reponse, 'text/html')
				// eslint-disable-next-line
				const article = new Readability(document).parse()
				this.titre = article.title
				if (article.byline !== null) {
					this.auteur = article.byline
				}
				this.html = article.content
				this.lien = donnees.lien
				const domaine = new URL(this.lien)
				this.domaine = domaine.hostname
				this.vues = donnees.vues
				setTimeout(function () {
					document.title = this.titre + ' - Digiread by La Digitale'
					this.$parent.$parent.chargement = false
				}.bind(this), 300)
			} else {
				this.$parent.$parent.chargement = false
				this.$parent.$parent.message = 'Erreur de communication avec le serveur.'
			}
		}.bind(this)
		xhr.open('POST', this.$parent.$parent.hote + 'inc/recuperer_document.php', true)
		xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
		xhr.send('id=' + this.id)
	},
	mounted () {
		const lien = this.definirRacine() + '#/a/' + this.id
		const clipboardLien = new ClipboardJS('#copier-lien .lien', {
			text: function () {
				return lien
			}
		})
		clipboardLien.on('success', function () {
			document.querySelector('#copier-lien .lien').focus()
			this.$parent.$parent.notification = 'Lien copié dans le presse-papier.'
		}.bind(this))
		const iframe = '<iframe src="' + this.definirRacine() + '#/a/' + this.id + '" frameborder="0" width="100%" height="500"></iframe>'
		const clipboardIframe = new ClipboardJS('#copier-iframe span', {
			text: function () {
				return iframe
			}
		})
		clipboardIframe.on('success', function () {
			document.querySelector('#copier-iframe span').focus()
			this.$parent.$parent.notification = 'Code d\'intégration copié dans le presse-papier.'
		}.bind(this))

		document.addEventListener('click', function (event) {
			const partager = document.querySelector('#partager')
			const menuPartager = document.querySelector('#menu-partager')
			if (partager && menuPartager && event.target !== partager && event.target !== menuPartager && !partager.contains(event.target) && !menuPartager.contains(event.target)) {
				this.menu = ''
				this.gererFocus()
			}
		}.bind(this))

		document.addEventListener('keydown', this.gererClavier, false)

		window.addEventListener('resize', function () {
			if (this.menu === 'partager') {
				this.menu = ''
				this.gererFocus()
			}
		}.bind(this), false)
	},
	beforeUnmount () {
		document.removeEventListener('keydown', this.gererClavier, false)
	},
	methods: {
		definirRacine () {
			return window.location.href.split('#')[0]
		},
		verifierJSON (json) {
			try {
				JSON.parse(json)
				return true
			} catch {
				return false
			}
		},
		afficherMenuPartager (event) {
			this.elementPrecedent = (document.activeElement || document.body)
			this.menu = 'partager'
			this.$nextTick(function () {
				const largeurBouton = event.target.getBoundingClientRect().width
				const largeurMenu = document.querySelector('#menu-partager').getBoundingClientRect().width
				this.position = event.target.getBoundingClientRect().left - ((largeurMenu * 90) / 100 - largeurBouton / 2)
				document.querySelector('#menu-partager span').focus()
			}.bind(this))
		},
		copierLien () {
			document.querySelector('#copier-lien .lien').click()
		},
		copierIframe () {
			document.querySelector('#copier-iframe span').click()
		},
		afficherCodeQR () {
			this.modale = 'code-qr'
			this.$nextTick(function () {
				const lien = this.definirRacine() + '#/a/' + this.id
				// eslint-disable-next-line
				this.codeqr = new QRCode('qr', {
					text: lien,
					width: 360,
					height: 360,
					colorDark: '#000000',
					colorLight: '#ffffff',
					// eslint-disable-next-line
					correctLevel : QRCode.CorrectLevel.H
				})
				document.querySelector('.modale .fermer').focus()
			}.bind(this))
		},
		fermerModale () {
			this.modale = ''
			this.gererFocus()
		},
		gererFocus () {
			if (this.elementPrecedent) {
				this.elementPrecedent.focus()
				this.elementPrecedent = null
			}
		},
		gererClavier (event) {
			if (event.key === 'Escape' && this.$parent.$parent.message !== '') {
				this.$parent.$parent.message = ''
			} else if (event.key === 'Escape' && this.modale !== '') {
				this.fermerModale()
			} else if (event.key === 'Escape' && this.menu !== '') {
				this.menu = ''
				this.gererFocus()
			}
		}
	}
}
</script>

<style scoped>
#page {
	width: 100%;
	background: #fff;
}

#page > header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
    width: 100%;
    background: #fff;
    color: #001d1d;
	z-index: 100;
	user-select: none;
}

#logo {
    width: 24px;
    height: 24px;
    background: #00ced1;
    display: inline-block;
    border-radius: 50%;
	margin: 8px 0;
	vertical-align: middle;
}

#titre {
	font-family: 'Mona Sans', sans-serif;
	font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
	margin-left: 20px;
	display: inline-block;
}

#titre:before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    top: 100%;
    bottom: auto;
    height: 8px;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.04) 50%, transparent 90%, transparent);
}

#conteneur {
	position: relative;
	margin-top: 40px;
}

#conteneur-header {
    display: flex;
	justify-content: space-between;
}

#conteneur-header .conteneur {
	display: flex;
	align-items: center;
}

#partager {
	width: 24px;
	font-size: 24px;
	cursor: pointer;
}

#partager i {
	width: 24px;
	font-size: 24px;
}

#conteneur-header,
#article,
#credits {
    padding: 0 20px;
    margin: auto;
    width: 100%;
	max-width: 1024px;
}

.copier {
	display: flex;
	justify-content: center;
	align-items: center;
}

.copier input {
	display: block;
	width: calc(100% - 34px);
	font-weight: 400;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 7px 15px;
	line-height: 1.5;
	text-align: left;
	margin-right: 10px;
}

#copier-lien {
	margin-bottom: 20px;
}

#copier-lien input {
	width: calc(100% - 68px);
}

#copier-lien span:last-child {
	margin-left: 10px;
}

.copier span i {
	font-size: 24px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.copier span i:active {
	opacity: 0.8;
}

#menu-partager {
	position: absolute;
    z-index: 1000;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 1rem;
	background: #fff;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	top: 54px;
	width: 300px;
}
	
#menu-partager:after {
	border: solid #ddd;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	border-width: 0 1px 1px 0;
	transform: translate(-7px, -8px) rotate(-135deg);
	background: #fff;
    left: 90%;
    width: 14px;
    height: 14px;
}

#menu-partager label {
	display: block;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
    user-select: none;
}

@media screen and (min-width: 768px) {
	#conteneur-header,
	#article,
	#credits {
		width: 750px;
	}
}

@media screen and (min-width: 992px) {
	#conteneur-header,
	#article,
	#credits {
		width: 970px;
	}
}

@media screen and (min-width: 1200px) {
	#conteneur-header,
	#article,
	#credits {
		width: 1170px;
	}
}

#credits {
	width: 100%;
	margin: 4em auto 2em;
	padding-top: 2em;
	border-top: 1px solid #ddd;
}

#credits p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1em;
	text-align: center;
}

#codeqr.modale {
	max-width: 400px;
}

#codeqr.modale .contenu {
	text-align: center;
	font-size: 0;
}

@media screen and (max-width: 359px) {
	#titre {
		font-size: 16px;
		margin-left: 12px;
	}
}

@media screen and (max-width: 599px) {
	#credits p {
		font-size: 0.75em;
	}
}

@media screen and (max-width: 820px) and (orientation: landscape) {
	#credits p {
		margin-bottom: 0.75em!important;
	}
}

@media screen and (max-width: 850px) and (max-height: 500px) {
	#credits p {
		font-size: 0.75em;
	}
}
</style>

<style>
#article {
	font-size: 18px;
}

#article a {
	text-decoration: underline;
	color: #07aaad;
}

#article img {
	max-width: 100%;
}

#article ul,
#article ol,
#article li,
#article code,
#article pre,
#article blockquote,
#article figure,
#article .wp-caption,
#article p {
	margin: 0 0 20px;
	line-height: 1.7;
}

#article h1,
#article h2,
#article h3,
#article h4,
#article h5,
#article h6 {
	margin: 40px 0 20px;
	line-height: 1.25;
	font-weight: 700;
}

#article h1 {
	font-size: 24px;
}

#article > h1 {
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #ddd;
}

#article > h1 .auteur {
	display: block;
	font-size: 16px;
	font-weight: 400;
	margin-top: 20px;
	color: #777;
}

#article h2 {
	font-size: 22px;
}

#article h3 {
	font-size: 20px;
}

#article h4,
#article h5,
#article h6 {
	font-size: 18px;
}

#article li {
	margin-bottom: 0;
}

#article li > ul,
#article li > ol {
	margin-bottom: 10px;
}

#article .caption,
#article .wp-caption-text
#article figcaption {
	font-size: 14px;
	line-height: 1.2;
	font-style: italic;
}

#article code,
#article pre {
	white-space: pre-wrap;
}

#article blockquote {
	padding: 0;
	padding-inline-start: 16px;
}

#article ul,
#article ol {
	padding: 0;
}

#article ul {
	list-style: disc;
	padding-inline-start: 20px;
}

#article ol {
	list-style: decimal;
	padding-inline-start: 20px;
}

#article table,
#article th,
#article td {
	border: 1px solid #ddd;
	border-collapse: collapse;
	padding: 6px;
	vertical-align: top;
}

#article table {
	margin: 5px;
}

#article .visually-hidden,
#article .visuallyhidden,
#article .sr-only {
	display: inline-block;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	border-width: 0;
}

#article .hidden,
#article .invisible {
	display: none;
}

#article img.wp-smiley,
#article img.emoji {
	display: inline-block;
	border-width: 0;
	height: auto;
	width: 1em;
	margin: 0 .07em;
	padding: 0;
}

@media print {
	#page > header,
	.conteneur-modale,
	#partage,
	#credits {
		display: none;
	}
}

#codeqr.modale #qr {
	display: inline-block;
}

#codeqr.modale #qr img {
	max-width: 100%;
	height: auto;
	max-height: 60vh;
}
</style>
